!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Node ###
node_tmp/
node_modules/
npm-debug.log.*
/.awcache/*
/.cache-loader/*

### ESLint ###
.eslintcache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Compiled path ###
rest-api/target
web-ui/src-ui
web-ui/target
web-ui/node
web-ui/dist
rest-api/rest-api/target/h2db/db
